<html>
<head>
<title>HAPPY BIRTHDAY</title>
</head>
<body style="background-color:orange; text-align: center;">

<h1 style="font-size:50px; border:2px solid Tomato; ">Few day until your birthday</h1>

</body>
</html>
