<html>
<head>
<title>BIRTHDAY</title>
</head>
<body style="background-color:orange; text-align: center;">

<h1 style="font-size:50px; border:2px solid Tomato; ">Welcome Dear Visitor!</h1>
<p style="font-size:30px; ">What is your name?</p>
<br>
<form action="/birthday">
<input type="text" name="name" placeholder="Full name" align="left">
<br>
<p style="text-align:center; font-size:30px; ">When is your birthday?</p>
Day:<input type="number" name="quantity" min="1" max="31">
Month: <select name="months">
    <option value="jan">January</option>
    <option value="feb">February</option>
    <option value="mar">March</option>
    <option value="apr">April</option>
    <option value="may">May</option>
    <option value="june">June</option>
    <option value="jul">July</option>
    <option value="aug">August</option>
    <option value="sept">September</option>
    <option value="oct">October</option>
    <option value="nov">November</option>
    <option value="dec">December</option>
  </select>
  <br>
  <input type="submit" value=" Let's see! ">
  <br>
  </form>


</body>
</html>
