<form action="/name-date" method="post">
<html>
<head>
<title>BIRTHDAY</title>
</head>
<body style="background-color:orange; text-align: center;">

<h1 style="font-size:50px; border:2px solid Tomato; ">Welcome Dear Visitor!</h1>
<p style="font-size:30px; ">What is your name?</p>
<br>
<input type="text" name="name" placeholder="Full name" align="left">
<br>
<p style="text-align:center; font-size:30px; ">When is your birthday?</p>
Day: <input type="number" name="day" min="1" max="31">
Month: <select name="month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  <br>
  <input type="submit" value=" Let's see! ">
  <br>
  </form>


</body>
</html>
